@keyframes slideInFromBottom {
  0% {
    transform: translateX(0%) translateY(100%);
    opacity: 0;
    left: 0;
  }
  100% {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
    left: 0;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html,
body {
  overflow: hidden;
  -ms-overflow-style: none;
  /* IE and Edge /
scrollbar-width: none; / Firefox */
}

html::-webkit-scrollbar {
  display: none;
}
